<div class="w3-bar w3-border w3-light-grey">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/search" class="w3-bar-item w3-button">Search</a>
    <a href="/postjob" class="w3-bar-item w3-button">+Job Post</a>

    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-right">Login</a>
    <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-right">Register</a>
    {% else %}
    <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
    <a href="/profile" class="w3-bar-item w3-button w3-right">Profile</a>
    {% endif %}
</div>